* {
  font-family: "Calculator";
  color: white;
}

@font-face {
  font-family: "Calculator";
  src: url(../fonts/Calculator.ttf);
}

body {
  background-color: #d3d3d3;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculadora {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 160px repeat(5, 75px);
  background-color: #4525d2;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 20px 10px 0px 5px #00000033;
}

.btn {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 30px;
  font-size: 40px;
  border: none;
  background-color: #fffcfc;
  color: black;
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #00000049;
}

button:active {
  background-color: #a7a7a7;
}

.rojo {
  color: red;
}

/* PANTALLA */
.pantalla {
  grid-column: 1 / -1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px 10px 20px;
  background-color: #000000d5;
  border-radius: 20px;
  text-align: center;
  justify-content: space-between;
  box-shadow: 0px 0px 0px 8px #00000033;
  font-size: 2.5rem;
  overflow: hidden;
}

#igual {
  grid-row: span 2;
  background-color: #8b5ee9;
}

#cero {
  grid-column: span 2;
}

footer {
  text-align: center;
}

h3 {
  color: black;
}

/* DARK MODE */
.container-boton {
  display: flex;
  justify-content: center;
}
.boton {
  height: 55px;
  border: none;
  background-color: #2c2c2c;
  font-size: 2rem;
  box-shadow: 5px 5px 10px -3px #00000040;
  border-radius: 50%;
}

body.dark-mode .calculadora {
  /* Estilos para la calculadora en modo oscuro (dark-mode) */
  background-color: #2c2c2c;
  color: #ffffff;
}

body.dark-mode {
  background-color: rgba(43, 42, 41, 0.534);
}

body.dark-mode .btn {
  background-color: orange;
}

body.dark-mode .rojo {
  color: white;
}

body.dark-mode #igual {
  background-color: rgb(172, 112, 2);
}

body.dark-mode button {
  box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #eeeeee1f;
}

body.dark-mode .boton {
  background-color: #d3d3d3;
}

body.dark-mode .moneda input {
  background-color: #2c2c2c;
  color: white;
}
body.dark-mode .moneda select {
  background-color: #2c2c2c;
  color: white;
  border: none;
}

body.dark-mode .cambio {
  color: white;
}

body.dark-mode .boton-cambiar {
  background-color: orange;
  color: white;
}

body.dark-mode .moneda-titulo {
  color: orange;
}
body.dark-mode p {
  color: white;
}
body.dark-mode h1 {
  color: white;
}

body.dark-mode option {
  color: white;
}

/* DIVISAS */
.container-divisas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.moneda-titulo {
  color: #4525d2;
}

h1 {
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.moneda select {
  padding: 10px 20px 10px 10px;
  border: 1px solid #dedede;
  font-size: 16px;
  color: black;
  border-radius: 0px 10px 0px 10px;
}

.moneda input {
  border: 0;
  font-size: 30px;
  text-align: right;
  border-radius: 10px;
}

.taza-cambio-container {
  position: relative;
}

.boton-cambiar {
  text-align: center;
  width: 150px;
  height: 50px;
  font-size: 1.4rem;
  background-color:#4525d2;
  border-radius: 30px;
  border: none;
}

.cambio {
  color: black;
  text-align: center;
  font-size: 1.3rem;
}

#monedaUno {
  color: black;
  border-radius: 10px;
}
#monedaDos {
  color: black;
  border-radius: 10px;
}

option {
  color: black;
}
input {
  color: black;
}

/* FORMULARIO DE INICIO Y REGISTRO */
.container-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido-form {
  width: 100%;
  max-width: 450px;
  background-color: #4525d2;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 20px 10px 0px 5px #00000033;
}

.contenido-form h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  margin-bottom: 6px;
  color: #ffffff;
  position: relative;
}
.contenido-form h3 {
  font-size: 20px;
  color: #ffffff;
}

.input-campo {
  background-color: #8b5ee9;
  margin: 15px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: max-height 0.5s;
  overflow: hidden;
}

.input-form {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  padding: 18px 15px;
  color: white;
}
::placeholder {
  color: white;
  font-family: monospace;
}

.input-campo i {
  margin-left: 15px;
  color: rgb(255, 255, 255);
}

.btn-campo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-campo button {
  flex-basis: 50%;
  box-shadow: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  padding: 7px 20px;
  font-size: 15px;
  background-color: #8b5ee9;
  color: white;
  transition: background 1s;
}
.input-container {
  height: 250px;
}

.btn-campo button.disable {
  background-color: white;
  color: black;
}

.btn-form {
  cursor: pointer;
  margin: 5px;
  padding: 0;
  border-radius: 30px;
  font-size: 40px;
  border: none;
  background-color: #fffcfc;
  color: black;
}
